<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Granja</title>
</head>
<body>

<div class="container mt-5">
    <div class="row d-flex">
        <div class="col-md-6 offset-md-3">
            <!-- Columna central -->
            <div class="text-center">
                <app-terreno></app-terreno>
                <!-- Contenido de la columna central -->
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex">
            <div class="col-md-6 offset-md-3">
                <!-- Columna abajo -->
                <div class="text-center">
                    <app-fruta></app-fruta>
                    <!-- Contenido de la columna central -->
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
